@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@theme inline {
  --color-brand-50: var(--p-brand-50);
  --color-brand-100: var(--p-brand-100);
  --color-brand-200: var(--p-brand-200);
  --color-brand-300: var(--p-brand-300);
  --color-brand-400: var(--p-brand-400);
  --color-brand-500: var(--p-brand-500);
  --color-brand-600: var(--p-brand-600);
  --color-brand-700: var(--p-brand-700);
  --color-brand-800: var(--p-brand-800);
  --color-brand-900: var(--p-brand-900);
  --color-brand-950: var(--p-brand-950);

  --color-primary-50: var(--p-primary-50);
  --color-primary-100: var(--p-primary-100);
  --color-primary-200: var(--p-primary-200);
  --color-primary-300: var(--p-primary-300);
  --color-primary-400: var(--p-primary-400);
  --color-primary-500: var(--p-primary-500);
  --color-primary-600: var(--p-primary-600);
  --color-primary-700: var(--p-primary-700);
  --color-primary-800: var(--p-primary-800);
  --color-primary-900: var(--p-primary-900);
  --color-primary-950: var(--p-primary-950);

  --color-info-50: var(--p-info-50);
  --color-info-100: var(--p-info-100);
  --color-info-200: var(--p-info-200);
  --color-info-300: var(--p-info-300);
  --color-info-400: var(--p-info-400);
  --color-info-500: var(--p-info-500);
  --color-info-600: var(--p-info-600);
  --color-info-700: var(--p-info-700);
  --color-info-800: var(--p-info-800);
  --color-info-900: var(--p-info-900);
  --color-info-950: var(--p-info-950);

  --color-secondary-50: var(--p-secondary-50);
  --color-secondary-100: var(--p-secondary-100);
  --color-secondary-200: var(--p-secondary-200);
  --color-secondary-300: var(--p-secondary-300);
  --color-secondary-400: var(--p-secondary-400);
  --color-secondary-500: var(--p-secondary-500);
  --color-secondary-600: var(--p-secondary-600);
  --color-secondary-700: var(--p-secondary-700);
  --color-secondary-800: var(--p-secondary-800);
  --color-secondary-900: var(--p-secondary-900);
  --color-secondary-950: var(--p-secondary-950);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--p-content-background);
  font-family:
    'Noto Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  @apply bg-primary-50;
}

h1 {
  margin-top: 0;
}
